:root {
--brand-color: #ffffff;
--footer-cl: #2e2f42 }

a {
  text-decoration: none;
}
p {
  font-size: 24px;
}


body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--brand-color)
   
}

/* Logo */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none
}

.header-logo-one {
  width: 44px;
  height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-logo-two {
  width: 71px;
  height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Navigation */
.header-navigation {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-navigation-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.link-studio {
  width: 48px;
  height: 24px;
}
.link-portfolio {
  width: 66px;
  height: 24px;
}
.link-contacts {
  width: 67px;
  height: 24px;
}

.header-mail {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-image {
  background-color: #2e2f42;
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
}

/* Title */
.hero-image-title {
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-image-buttom {
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Section 1 features */

.features {
  position: absolute;
  width: 1128px;
  height: 104px;
  left: 156px;
  top: 792px;
}

.feature-one {
  position: absolute;
  width: 264px;
  height: 104px;
  left: 156px;
  top: 792px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.feature-one-p {
  width: 264px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature-two {
  position: absolute;
  width: 264px;
  height: 104px;
  left: 444px;
  top: 792px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.feature-two-p {
  width: 264px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature-three {
  position: absolute;
  width: 264px;
  height: 104px;
  left: 732px;
  top: 792px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.feature-three-p {
  width: 264px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature-four {
  position: absolute;
  width: 264px;
  height: 104px;
  left: 1020px;
  top: 792px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.feature-four-p {
  width: 264px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Section 2 */
.section-two-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-two-computer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 360px;
  height: 300px;
  left: 156px;
  top: 1128px;
}
.section-two-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 540px;
  top: 1128px;
}
.section-two-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 924px;
  top: 1128px;
}
.section-three {
  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1548px;
  background-color: #ffffff;
}
.section-three-title {
  position: absolute;
  width: 162px;
  height: 40px;
  left: 639px;
  top: 1668px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  position: absolute;
  width: 264px;
  height: 380px;
  left: 156px;
  top: 1780px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.teammate {
  width: 264px;
  height: 260px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.teammate-name {
  width: 130px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.position {
  width: 75px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer {
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background-color: var(--footer-cl);
}
.footer-info {
  position: absolute;
  width: 264px;
  height: 112px;
  left: 156px;
  top: 2380px;
}
