:root{
    --body-cl:#FFFFFF;
    --logo-cl:#4d5ae5;
    --logo-span-cl:#2e2f42;
    --nav-cl:#2e2f42;
    --contacts-cl:#434455;
    --section-bcl:#2e2f42;
    --paragrah-cl:#434455;
    --title-cl:#2e2f42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--body-cl);
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-cl);

}

.header-logo-span {
    color: var(--logo-span-cl)
}

.list {
    list-style: none;
}

.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--nav-cl);
}
.nav:hover {
    color: #404bbf;
}
.nav:focus {
    color: #404bbf;
} 

.address {
    font-style: normal;
}

.link {
    text-decoration: none
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-cl);
}
.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.main {
    background-color: var(--section-bcl);
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.main-title-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.main-title-btn:hover,
.main-title-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}


.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--section-bcl);
}

.feature-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragrah-cl);
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-cl);
}

.section-four {
    background-color: #F4F4FD;
}

.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-cl);
}

.footer {
    background-color: var(--section-bcl);
}