:root {
    --body-cl:#FFFFFF;
    --logo-cl:#4d5ae5;
    --logo-span-cl:#2e2f42;
    --nav-cl: #2e2f42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--body-cl);
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-cl);

}

.header-logo-span {
    color: var(--logo-span-cl)
}

.list {
    list-style: none;
}

.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--nav-cl);
}